:root {
  --primary-color: #7ebc89;
  --background-color: #f6f1de;
  --text-color: #333;
  --base-font-size: 16px;
}

body {
  background-color: #f6f1de;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--base-font-size);
}

.header {
  position: fixed;
  z-index: 100;
  top: 0px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
  display: block;
  background-color: #7ebc89;
  left: 0px;
  width: 100%;
  height: 60px;
}

.back-arrow {
  position: fixed;
  z-index: 100;
  top: 30px;
  left: 316px;
}

.top-secondary-bar {
  position: fixed;
  z-index: 100;
  display: block;
  background-color: #71A37A;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 4px;
}

.notifications-text {
  position: relative;
  z-index: 1;
  font-size: 13px;
  top: 72px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 300px;
  height: 50px;
}

.notifications-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: 21px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.notifications-switch {
  position: relative;
  display: inline-block;
  left: 152px;
  width: 50px;
  height: 21px;
}

.notifications-switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.notifications-slider {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 30px;
  top: 1px;
  left: 8px;
  width: 97%;
  height: 95%;
  transition: background-color 0.3s;
}

.notifications-slider::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  border-radius: 100%;
  transition: transform 0.3s;
}

.notifications-off-on::before {
  position: absolute;
  Content: "Off";
  pointer-events: none;
  top: 3px;
  left: -15px;
  transition: transform 0.3s;
}

.notifications-switch-outer-box {
  position: absolute;
  cursor: pointer;
  background-color: #CECECE;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.notifications-switch input:checked + .notifications-slider {
  background-color: #78EA8D;
}

.notifications-switch input:checked + .notifications-slider::before,
.notifications-switch input:checked ~ .notifications-switch-outer-box {
  background-color: #6AC87B;
}

.notifications-switch input:checked + .notifications-slider::before {
  transform: translateX(27px);
}

.notifications-switch input:checked ~ .notifications-off-on::before {
  content: "On";
}

.colour-theme {
  position: relative;
  z-index: 1;
  font-size: 13px;
  top: 26px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 300px;
  height: 50px;
}

.colour-theme-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: -25px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.large-text-text {
  position: relative;
  z-index: 1;
  font-size: 13px;
  top: -20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 300px;
  height: 50px;
}

.large-text-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: -71px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.large-text-switch {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 163px;
  width: 50px;
  height: 21px;
}

.large-text-switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.large-text-slider {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 30px;
  top: 1px;
  left: 8px;
  width: 96%;
  height: 95%;
  transition: background-color 0.3s;
}

.large-text-slider::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  border-radius: 100%;
  transition: transform 0.3s;
}

.large-text-off-on::before {
  position: absolute;
  Content: "Off";
  pointer-events: none;
  top: 3px;
  left: -15px;
  transition: transform 0.3s;
}

.large-text-switch-outer-box {
  position: absolute;
  cursor: pointer;
  background-color: #CECECE;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.large-text-switch input:checked + .large-text-slider {
  background-color: #78EA8D;
}

.large-text-switch input:checked + .large-text-slider::before,
.large-text-switch input:checked ~ .large-text-switch-outer-box {
  background-color: #6AC87B;
}

.large-text-switch input:checked + .large-text-slider::before {
  transform: translateX(27px);
}

.large-text-switch input:checked ~ .large-text-off-on::before {
  content: "On";
}

.large-icons-text {
  position: relative;
  z-index: 1;
  font-size: 13px;
  top: -66px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 300px;
  height: 50px;
}

.large-icons-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: -117px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.large-icons-switch {
  position: relative;
  display: inline-block;
  left: 155px;
  width: 50px;
  height: 21px;
}

.large-icons-switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.large-icons-slider {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 30px;
  top: 1px;
  left: 8px;
  width: 97%;
  height: 95%;
  transition: background-color 0.3s;
}

.large-icons-slider::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  border-radius: 100%;
  transition: transform 0.3s;
}

.large-icons-off-on::before {
  position: absolute;
  Content: "Off";
  pointer-events: none;
  top: 3px;
  left: -15px;
  transition: transform 0.3s;
}

.large-icons-switch-outer-box {
  position: absolute;
  cursor: pointer;
  background-color: #CECECE;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.large-icons-switch input:checked + .large-icons-slider {
  background-color: #78EA8D;
}

.large-icons-switch input:checked + .large-icons-slider::before,
.large-icons-switch input:checked ~ .large-icons-switch-outer-box {
  background-color: #6AC87B;
}

.large-icons-switch input:checked + .large-icons-slider::before {
  transform: translateX(27px);
}

.large-icons-switch input:checked ~ .large-icons-off-on::before {
  content: "On";
}

.recovery-key {
  position: relative;
  z-index: 1;
  font-size: 13px;
  top: -112px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 310px;
  height: 50px;
}

.recovery-key-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: -163px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.change-password {
  position: relative;
  z-index: 1;
  font-size: 13px;
  color: #009DFF;
  text-decoration: underline;
  top: -158px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 310px;
  height: 50px;
}

.change-password-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: -209px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.about {
  position: relative;
  z-index: 1;
  font-size: 13px;
  color: #009DFF;
  text-decoration: underline;
  top: -204px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  left: 20px;
  width: 310px;
  height: 50px;
}

.about-outer-box {
  position: relative;
  display: block;
  background-color: #CECECE;
  border-radius: 30px;
  top: -255px;
  left: 19px;
  width: 322px;
  height: 52px;
}

.bottom-secondary-bar {
  position: fixed;
  z-index: 100;
  display: block;
  background-color: #71A37A;
  bottom: 60px;
  left: 0px;
  width: 100%;
  height: 4px;
}

.bottom-primary-bar {
  position: fixed;
  z-index: 100;
  display: block;
  background-color: #7ebc89;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
}
